---
import { byPriceBtwn } from "../../../js/backend.mjs";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/OffreCard.astro";
const { min, max } = Astro.params;
const offres = await byPriceBtwn(min, max);
---

<Layout titre=`prix - ${min}/${max}`>
    <h1 class="text-center text-2xl mt-10 font-bold">
        Maison entre {min}€ et {max}€
    </h1>
    <ul
        class="flex flex-wrap justify-center items-start items-center gap-10 p-10"
    >
        {
            offres.map((offre) => (
                <li>
                    <Card offre={offre} />
                </li>
            ))
        }
    </ul>
</Layout>
